<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_CdGMPzJ8BOA476Zj8MEh5xORbyTw6gg</string>
	<key>GCM_SENDER_ID</key>
	<string>726573659745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dariau.WordsLearningApp</string>
	<key>PROJECT_ID</key>
	<string>learningwords-49da2</string>
	<key>STORAGE_BUCKET</key>
	<string>learningwords-49da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726573659745:ios:b28fec9e17ef9f1c6c5c20</string>
</dict>
</plist>